/*Global Styles*/
/*Reset Style Sheet*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Global Styles*/
/*https://designpieces.com/2012/12/google-plus-colour-palette/*/
body {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	overflow-y: auto;
	font-family: 'Roboto Slab', serif;
	font-family: 'Roboto', sans-serif;
	background: #f2f2f2;
}

/*Navigation*/
#navigation {
	display: block;
	height: 10%;
	min-height: 96px;
	width: 88%;
	padding: 0% 6%;
	line-height: 6rem;
	background-color: #f1f1f1;
}

#navigation a {
	text-transform: uppercase;
	text-decoration: none;
	color: #1e1e1e;
}

#logo {
	float: left;
	width: 15%;
	margin-left: 5%;
}

#links {
	float: right;
	width: 75%;
	margin-right: 5%;
}

#links a {
	float: right;
	margin-left: 3%;
}

/*Footer*/
#footer {
	display: block;
	bottom: 0;
	left: 0;
	padding: 0% 10%;
	height: 10%;
	width: 80%;
	bottom: 0;
	line-height: 10vh;
	background-color: #f1f1f1;
}

#footer div {
	display: inline-block;
	width: 20%;
	background-color: #f1f1f1;
}

#footer div p {
	text-align: center;
	color: grey;
}

#footer div a {
	text-decoration: none;
}
