/* Coolors Exported Palette - coolors.co/e9e3ea-93919e-ba471a-871b27-28272d */

/* HSL */
$color1: hsla(291%, 14%, 90%, 1);
$color2: hsla(249%, 6%, 59%, 1);
$color3: hsla(17%, 75%, 42%, 1);
$color4: hsla(353%, 67%, 32%, 1);
$color5: hsla(250%, 7%, 16%, 1);

/* RGB */
$color1: rgba(233, 227, 234, 1);
$color2: rgba(147, 145, 158, 1);
$color3: rgba(186, 71, 26, 1);
$color4: rgba(135, 27, 39, 1);
$color5: rgba(40, 39, 45, 1);