#main {
  padding-top: 10vh;
}

#info {
  display: inline-block;
  float: left;
  height: 82vh;
  width: 50%;
  background: #2d2d2d;
}

#message {
  display: inline-block;
  float: right;
  height: 82vh;
  width: 50%;
  background: #d34836;
}

.secHead {
  padding: 4vh 2vw;
  text-transform: uppercase;
  color: #f1f1f1;
}

#info h2{
  padding: 1vh 1vw;
  padding-left: 2vw;
  font-size: 1rem;
  color: #d34836;
}

#info h3{
  padding-top: 0.5vh;
  padding-left: 6vw;
  color: #f1f1f1;
}

.row {
  display: block;
  height: 13vh;
}

#mobile {
  padding-bottom: 1.5rem;
}
