/*Portfolio Styles */
/* .titleContainer {
	height: 11vh;
	font-size: 2rem;
	font-style: italic;
	text-align: center;
	line-height: 11vh;
	color: #f1f1f1;
	background-color: #2d2d2d;
}

.linkContainer {
	display: block;
	height: 10vh;
	width: 100%;
	font-size: 2.5rem;
	text-align: center;
	line-height: 10vh;
	color: #f1f1f1;
	background: #d34836 url("../resources/code_background4.jpg") no-repeat center;
}

.linkContainer:nth-child(odd) {
	background: #d34836 url("../resources/code_background3.jpg") no-repeat center;
}

.linkContainer .titleContainer {
	width: 100%;
}

.linkContainer h2 {
	float: left;
	width: 60%;
	text-decoration: none;
	color: #f1f1f1;
}

.linkContainer img {
	float: right;
	max-height: 9vh;
	min-width: 30%;
	max-width: 30vw;
	padding: 0.5vh 0;
	padding-right: 0.5vw;
	object-fit: cover;
	-webkit-filter: grayscale(100%);
}

.imageContainer {
	display: block;
	float: right;
	height: 10vh;
	width: 100%;
	font-size: 2.5rem;
	text-align: center;
	line-height: 10vh;
	background-color: #f1f1f1;
} */
#main {
	background-color: #2d2d2d;
}

#row1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	overflow: hidden;
	height: 40vh;
	width: 80vw;
	padding: 0 10vw;
	padding-left: 13.5vw;
}

#row2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	overflow: hidden;
	height: 40vh;
	width: 80vw;
	padding: 0 10vw;
	padding-left: 13.5vw;
}

.linkContainer {
	display: inline-block;
	float: left;
	margin-top: 2vh;
	height: 90%;
	width: 73%;
	background-color: #f1f1f1;
}

.linkContainer h2 {
	text-align: center;
	line-height: 35.9vh;
}

#register {
	background: #f1f1f1 url("../resources/project.png");
}

#quadtree {
	background: #f1f1f1 url("../resources/quadtree.png");
}

#hack {
	background: #f1f1f1 url("../resources/and16.png");
}

#waiterApp {
	background: #f1f1f1 url("../resources/schoolregister.png");
}

#colourPicker {
	background: #f1f1f1 url("../resources/colourpicker.png");
}

#xo {
	background: #f1f1f1 url("../resources/xo.png");
}
