/*Portfolio Styles */
/* .linkContainer {
	display: block;
	height: 13.5vh;
	width: 100%;
	font-size: 2.5rem;
	text-align: center;
	line-height: 13.5vh;
	color: #f1f1f1; no-repeat center;
}

.linkContainer {
	width: 100%;
}

.linkContainer h2 {
	float: left;
	width: 60%;
	height: 13.5vh;
	text-decoration: none;
	color: #2d2d2d;
}

.linkContainer img {
	float: right;
	max-height: 9vh;
	min-width: 30%;
	max-width: 30vw;
	padding: 0.5vh 0;
	padding-right: 0.5vw;
	object-fit: cover;
	-webkit-filter: grayscale(100%);
}

.imageContainer {
	display: block;
	float: right;
	height: 10vh;
	width: 100%;
	font-size: 2.5rem;
	text-align: center;
	line-height: 10vh;
	background-color: #f1f1f1;
} */

#main {
	height: 100%;
	width: 100%;
}

#title {
	float: left;
	width: 50vw;
	height: 80vh;
	padding: 1vh 0;
	background-color: #2d2d2d;
}

#title li {
	display: block;
	height: 20vh;
	width: 100%;
	text-align: center;
	line-height: 20vh;
	font-size: 2rem;
	color: #f1f1f1;
}

#details {
	float: right;
	width: 50vw;
	height: 80vh;
	padding: 1vh 0;
	background-color: #d34836;
}

#desc {
	float: left;
	width: 25vw;
	height: 80vh;
	padding: 1vh 0;
	background-color: #d34836;
}

#desc li {
	display: block;
	height: 20vh;
	width: 25vw;
	color: #f1f1f1;
}

#img {
	float: right;
	width: 25vw;
	height: 80vh;
	padding: 1vh 0;
	background-color: #d34836;
}

#img li {
	display: block;
	height: 17.5vh;
	width: 25vw;
	margin: 1vh 1vw;
	color: #f1f1f1;
}
